      #map {
        height: 90%;
        width: 100%;
      }
	  #layerswitcher {
		background-color: white;
		font-weight: bold;
	    position: fixed;
	    top: 0;
	    right: 45px;
	    width: 410px;
	    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #cccccc;
	  }
	  #mousepositionform {
		background-color: white;
		font-weight: bold;
	    position: fixed;
	    top: 66px;
	    left: 46px;
	    width: 220px;
	    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #cccccc;
	  }
	  #info {
		background-color: white;
		font-weight: bold;
	    position: fixed;
	    top: 0;
	    right: 467px;
	    width: 430px;
	    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #cccccc;
	  }
	  .ol-mouse-position {
		position: static;
	  }
	  .ol-scale-line {
		left: 200px;
	  }
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 260px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

